language: node_js
node_js: node
services:
- mongodb
deploy:
  provider: heroku
  api_key:
    secure: ftIjgo/JH6mDqgWVpmHGFYeJdAszb7rdYc8iucyxQRO8rxvW6LXdB4CJoV9mySBfxRkss3CS4MGniUrtaq5CEgI/7pCwiqya6nsFS2VoR73ze9Br0UvLVkQCARlnkFZGB2bY7mUjaSMwy5lnnfvHm5YI/tKAQyA/1ehpfoKNn37O9Zuh1pjII+UX5QnbJRyU19xno3SxFwWqTZuT6ZJcPEJ7O8sdNoYULCQWSfn0nMRmFepQ8l07sSf1ErfPoJERcdJUhRCBB9v985lUXcD2DdR5Hgp5r2vKY8D8te1izpuPAeGDAmllXsq3/csokkNTjHpK90a6L/7usd9ph8fwXOMwDNwIz9gFt2unuvRD4mYFmJKKzsI+w9Ii7b604ZPf2Jjj5lOWmRi8QpDXDCZDtf9JWiOyxjCih4EAB2ykJgYdNkvFWa/3OfpDsKOS+2lN4RxZfDdsY+8uVcRDVcFWTxwh1LuUY+1KBwyoWxTVmnFdIagP5ph5hJ4oGAxslHEA1O9Zo5uBa68fF9QJGRng9VK0x/Ss8QAdHsHVEdklBznZQBaGntzFAbh/L7q/dS7cgeMniaU6JJ2KL0SdiMbUYo8t0UVGuxkvZTlIsWNdbMCcbhc9GL6R5k/WcARzzi3jzIQK8tX61LkjddYhSTP6ZCmYMWkkYSlm8tbj6sHyirg=
  app: stark-sierra-32501
  on:
    repo: thinkful-ei17/spaced-rep-server
  
